Markdown -> Texto explicativo 

Criar a Tabela

In [ ]:
import sqlite3

# Criar conexao 
conn = sqlite3.connect('alunos.db')
cursor = conn.cursor()

# criar a tabela 
cursor.execute('''
CREATE TABLE IF NOT EXISTS alunos (
id INTEGER PRIMARY KEY AUTOINCREMENT, nome TEXT, nota REAL
)
''')
conn.commit()
conn.close()

Inserindo Registros

In [ ]:
import sqlite3

conn = sqlite3.connect('alunos.db')
cursor = conn.cursor()

# dados
dados = [ 
    ('Arthur', 4.3),
    ('Andre', 9.0),
    ('Elton', 5.0),
    ('Larissa', 7.6)
]

# inseririndo dados
cursor.executemany('INSERT INTO alunos (nome, nota) VALUES (?, ?)', dados)

conn.commit()
conn.close()

DELETANDO UM USUARIO

In [ ]:
import sqlite3
conn = sqlite3.connect('alunos.db')
cursor = conn.cursor()

# deletando aluno que ja tem id 
cursor.execute('DELETE FROM alunos WHERE id = ?', (1, ))
conn.commit()
conn.close()

SELECIONANDO ALUNOS

In [ ]:
import sqlite3

conn = sqlite3.connect('alunos.db')
cursor = conn.cursor()

cursor.execute('SELECT * FROM alunos')
dados = cursor.fetchall() # executar consulta 

for linha in dados:
    print(linha)